body{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-image: url("images/blue-background.jpg")
}

#wrapper{
  background-color:beige;
  padding:40px;
  margin: 100px;
  border: solid 10px black;
}

nav {
    background-color: #FFF;
    padding: 40px 10px 10px 10px;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: blue;
}

nav a:hover{
    color: blue;
}

img.featured{
    width: 400px;
}

img.about{
    width: 550px;
}

img.blue1{
    width: 200px;
    height: 150px;
}

img.blue2{
    width: 228px;
    height: 150px;
}
img.blue3{
    width:205px;
    height: 150px;
}

img.blue4{
    width:200px;
}

img.blue5{
    width: 230px;
    height: 150px;
}

img.blue6{
    width:200px;
    height: 150px;
}

img.blue7{
    width: 200px;
}

img.blue8{
    width: 230px;
    height: 270px;
}

img.blue9{
    width: 200px;
    height: 270px;
}

a{
    color: blue;
    text-decoration: none;
}