body{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-image: url("images/background.jpg")
}

#wrapper{
  background-color:beige;
  padding:40px;
  margin: 100px;
  border: solid 10px black;
}

nav {
    background-color: #FFF;
    padding: 40px 10px 10px 10px;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: #F0F;
}

nav a:hover{
    color: #F0F;
}

img.featured{
    width: 400px;
}

img.about{
    width: 550px;
}

img.movieposter1{
    width: 200px;
}

img.movieposter2{
    width: 228px;
}
img.movieposter3{
    width:205px;
}

img.movieposter4{
    width:200px;
}

img.movieposter5{
    width: 200px
}

img.movieposter6{
    width:230px;
}

img.movieposter7{
    width: 200px;
}

img.movieposter8{
    width: 200px;
}

a{
    color: blue;
    text-decoration: none;
}