/* START border-box fix */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  /* END border-box fix */

.container{
    color: white;
    display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      width: 80%;
      margin: 0 auto;
  }

  .container > * {
    padding: 20px;
  }

  body {
    padding: 0;
    margin: 0;
    background-color: #ccc;
  }

  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }



  header {
    background: purple;
      grid-column: 1 / 13;
  }
  main {
    background: skyblue;
      grid-column: 4 / 10;
  }
  
  nav {
    background: orangered;
      grid-column: 1 / 4;

  }
  aside {
    background: burlywood;
      grid-column: 10 / 13;
  }
  main, nav, aside {
    grid-row: 2 / 4;
  }
  
  footer {
    background: purple;
      grid-column: 1 / 13;
  }