/* START border-box fix */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  /* END border-box fix */

  body {
    padding: 0;
    margin: 0;
        display: flex;
        justify-content: center;
  }

  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }

  /* Add padding to all of the .container child elements */
  .container > * {
    padding: 20px;
  }

  .container{
    color: white;
    display: flex;
    flex-wrap: wrap;
        max-width: 1000px;
  }

  header {
    background: skyblue;
    flex: 1 0 100%; /* grow on, shrink off, span width of browser */
    order: 1;
  }
  main {
    background: slategray;
      flex: 1 1 500px; 
      order: 3;
  }
  
  nav {
    background: cadetblue;
      flex: 1 0 200px; /* grow but do not shrink less than basis */
      order: 2;
  }
  aside {
    background: seagreen;
      flex: 1 0 200px; /* grow but do not shrink less than basis */
      order: 4;
  }
  
  footer {
    background: darkslateblue;
      flex: 1 0 100%; /* grow on, shrink off, span width of browser */
      order: 5;
  }